<div ng-include = "'./views/navBar.html'"></div>
<div class = "page-header">
    <h1>Character Analyzer (JavaScript)</h1>
</div>
<div class = "row">
    <div class = "col-sm-6">
        <div class = "form-group">
            <label class = "control-label">Input:</label>
            <div class="input-group">
                <span class="input-group-addon" id="text-addon">...</span>
                <input type="text" class="form-control" id = "charsToAnalyze" placeholder="Type Text Here" aria-describedby="text-addon">
            </div>
            <label class = "control-label">Sort by:</label>
            <div class = "input-group">
                <select class = "form-control" id = "sortField">
                    <option value = "char">character</option>
                    <option value = "count" selected>count</option>
                </select>
                <select class = "form-control" id = "sortOrder">
                    <option value = "asc">ascending</option>
                    <option value = "desc" selected>descending</option>
                </select>
            </div>
        </div>
    </div>
    <div class = "col-sm-6">
        <label class = "control-label">Output:</label>
        <pre id = "stringAnalysisOutput"></pre>
    </div>
</div>